@font-face {
  font-family: 'doddle-icon';
  src: url('fonts/doddle-icon.eot?-s7vh28');
  src: url('fonts/doddle-icon.eot?#iefix-s7vh28') format('embedded-opentype'), url('fonts/doddle-icon.woff?-s7vh28') format('woff'), url('fonts/doddle-icon.ttf?-s7vh28') format('truetype'), url('fonts/doddle-icon.svg?-s7vh28#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.form-list .control.doddle-control {
  vertical-align: middle;
  line-height: 21px;
  position: relative;
}
.form-list .control.doddle-control label .ship-to {
  float: left;
}
.form-list .control.doddle-control label img.doddle-logo {
  margin-left: 6px;
  float: left;
  height: 18px;
}
.form-list .control.doddle-control:hover .doddle-billing-more-information {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.form-list .control.doddle-control .doddle-billing-more-information {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ease-in-out 0.15s, opacity 0.15s ease-in-out;
  position: absolute;
  left: 0;
  right: -200px;
  bottom: 100%;
  width: 400px;
  background: white;
  border: 1px solid #dbdbdb;
  padding: 16px;
}
.form-list .control.doddle-control .doddle-billing-more-information:hover {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
#doddle-box {
  width: 100%;
  padding: 20px 24px;
  background: #f4f4f4;
  margin-bottom: 16px;
}
#doddle-box .doddle-header {
  float: left;
  width: 100%;
}
#doddle-box .doddle-header .doddle-logo {
  height: 40px;
  margin-bottom: 12px;
  margin-top: 4px;
  display: inline;
}
#doddle-box .doddle-header .whats-this {
  line-height: 44px;
  display: inline;
  vertical-align: text-bottom;
  margin-left: 4px;
}
#doddle-box .doddle-header #doddle-more-information {
  float: left;
  width: 100%;
  background: white;
  padding: 14px 18px;
  margin: 0 0 14px 0;
}
#doddle-box ul.messages {
  margin: 8px 0 12px 0;
}
#doddle-box .hidden-validation {
  display: none;
}
#doddle-box table {
  text-align: left;
  margin: 8px 0;
}
#doddle-box table td.input {
  text-align: center;
}
#doddle-box table td.input .validation-advice {
  display: none;
}
#doddle-box table td,
#doddle-box table th {
  padding: 8px 10px;
  border-bottom: 2px solid #dbdbdb;
}
#doddle-box table td label {
  display: block;
  width: 100%;
}
#doddle-box table th {
  font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
#doddle-box table address {
  font-size: 90%;
}
#doddle-box table .more-information-td {
  position: relative;
}
#doddle-box table .more-information-td .doddle-info {
  font-family: 'doddle-icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 18px;
  text-decoration: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#doddle-box table .more-information-td .doddle-info:hover + .more-information {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
#doddle-box table .more-information-td .more-information {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ease-in-out 0.15s, opacity 0.15s ease-in-out;
  background: white;
  border: 1px solid #dbdbdb;
  padding: 16px;
  position: absolute;
  left: -220px;
  bottom: 90%;
  right: -220px;
}
#doddle-box table .more-information-td .more-information .opening-times {
  float: left;
  width: 47.5%;
  margin-right: 2.5%;
}
#doddle-box table .more-information-td .more-information .doddle-map {
  float: left;
  width: 47.5%;
  margin-left: 2.5%;
}
#doddle-box table .more-information-td .more-information table {
  width: 100%;
}
#doddle-box table .more-information-td .more-information table.opening-times-table td,
#doddle-box table .more-information-td .more-information table.opening-times-table th {
  padding: 4px 5px;
  border-bottom: 2px solid #f4f4f4;
}
#doddle-box table .more-information-td .more-information table.opening-times-table td {
  text-align: right;
}
#doddle-box table .more-information-td .more-information:hover {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
#doddle-box .doddle-search {
  margin: 8px 0;
}
#doddle-box .doddle-search .doddle-search-button {
  margin-right: 8px;
}
#doddle-box .doddle-search .doddle-search-form {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
#doddle-box .doddle-search .doddle-search-input {
  margin-left: 8px;
  text-transform: uppercase;
  max-width: 250px;
  height: 33px;
}
#doddle-box .button.loading {
  background: white url('../../../images/opc-ajax-loader.gif') center center no-repeat;
  background-size: 24px 24px;
}
#doddle-box .button.loading span {
  opacity: 0;
}
.doddle-sidebar-logo {
  margin: 10px 0 8px 0;
  width: 120px;
}
@media only screen and (max-width: 980px) {
  #doddle-box table .more-information-td .more-information {
    left: -440px;
    right: 0;
  }
}
@media only screen and (max-width: 680px) {
  #doddle-box .doddle-search .doddle-search-button {
    display: block;
    width: 100%;
    margin: 6px 0;
  }
  #doddle-box .doddle-search .doddle-or {
    display: block;
    width: 100%;
    text-align: center;
  }
  #doddle-box .doddle-search .doddle-search-form {
    display: block;
    width: 100%;
  }
  #doddle-box .doddle-search .doddle-search-form .doddle-search-input {
    margin: 6px 0 2px 0;
    width: 100%;
    display: block;
    max-width: none;
  }
}
